<div>
  <p>Title: <%= @book.title %></p>
  <P>Opinion: <%= @book.body %></P>
  <p><%= image_tag 'sample-author1.jpg' %></p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
